:root {
    --PRIMARY_COLOR: #2379ea;
    --SEARCH_TEXT_COLOR: #878787;
    --PRIMARY_TEXT_COLOR: #444444;
    --APP_GREY_COLOR: #828282;
    --HEADER_BACKGROUND_COLOR: #f9f9f9;
    --BORDER_DIVIDER_COLOR: #d8d8d8;
}
